<footer style="margin-top:15%;padding: 0px; width: 100%;background-color: black;" th:fragment="footer">
    <div class="footer-container" style="margin-top: auto">
        <div class="col-sm-8" >

            <h1 style="font-family: 'Khmer OS Muol';color:white;" th:text="#{articleManagement}">Article Managemetn System</h1><br/>
            <h6 style="font-size: 20px;color:white;" ><span th:text="#{version}" style="font-family: 'Khmer OS Muol';color:white;">Version</span>: 0.0.0.001</h6>
            <br/>
            <h3 th:text="#{kps}" style="font-family: 'Khmer OS Muol';color:white;">Kompong Som Class</h3>
        </div>
        <div class="col-sm-4" style="text-align: right;">
            <h1 style="font-family: 'Khmer OS Muol';color:white;" th:text="#{about}">About Me</h1>
            <p style="font-size: 20px;color:white;"><b>Pheng Souphal</b>-IT student. study at Norton University year 3</p>

        </div>
    </div>

    <div class="footer-copy-redes">
        <div class="main-copy-redes">

            <div class="footer-icon fo" >
                <ul>
                    <li><a href="https://www.facebook.com/pheng.sophal.94" class="fab fa-google-plus-square"></a></li>
                    <li><a href="https://www.facebook.com/pheng.sophal.94" class="fab fa-facebook-square"></a></li>
                    <li><a href="https://www.facebook.com/pheng.sophal.94" class="fab fa-twitter-square"></a></li>
                    <li><a href="https://www.facebook.com/pheng.sophal.94" class="fab fa-youtube-square"></a></li>
                    <li><a href="https://www.facebook.com/pheng.sophal.94" class="fab fa-pinterest-square"></a></li>
                    <li><a href="https://www.facebook.com/pheng.sophal.94" class="fab fa-instagram"></a></li>

                </ul>

            </div>
            <div class="footer-copy fo">
                <p><i style="color: white;">&copy; 2018, Pheng Souphal- |Web Design Using HTML, CSS, Boostrap|</i></p>
            </div>
        </div>
    </div>
</footer>
