<nav th class="navbar navbar-inverse" style="border: none;" th:fragment="header" >

    <div class="container-fluid" style="width: 1200px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/article"  style=" font-family: 'Khmer OS Muol';" th:text="#{articleManagement}">Article Management System</a>
        </div>
        <ul class="nav navbar-nav" >

            <li ><a href="/article" class="btn-top" style="font-family: 'Khmer OS Muol';" th:text="#{article}">Article</a></li>
            <li><a href="/addcate" class="btn-top" style="font-family: 'Khmer OS Muol';" th:text="#{cate}">Category</a></li>

        </ul>

        <form class="navbar-form navbar-left" action="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown" >
                <a class="dropdown-toggle btn-top" data-toggle="dropdown" th:text="#{lang}" style="color: white;font-family: 'Khmer OS Muol';" href="#">Languages
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="?lang=kh">Khmer</a></li>
                    <li><a href="?lang=en">English</a></li>

                </ul>
            </li>

        </ul>

    </div>
</nav>