.con{
    width: 1000px;
    margin: auto;
    font-family: "Khmer OS Muol";
    background-color: dimgray;
}

.l img{
    width: 400px;
    height: 400px;

}


.frm {
    font: 95% Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
    padding: 10px;
    background: #F7F7F7;
}

.frm h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
label{
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}
.frm input[type="text"],
.frm textarea,select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.frm input[type="text"]:focus,
.frm textarea:focus,
select{

    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.frm input[type="submit"],
.frm input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 28px;
}

.frm input[type="submit"]:hover,
.frm input[type="button"]:hover {
    background: #2EBC99;
}

/*Style For Table*/

#tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td,
#tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}



#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: purple;
    font-size: 24px;
    color: white;
}

#tbl tr td {
    text-align: center;
}

#tbl tr td input[type="button"] {
    margin-right: 10px;
}
.btn-primary{
    margin-right: 10px;
}

.con{
    width: 1700px;
    margin: auto;
    font-family: "Khmer OS Muol";
}
.navbar{
    font-size: 20px;

}
.navbar-brand{
    font-size: 28px;
    margin-top: 2px;
    color: white;

    vertical-align: middle;
}
.container-fluid ul li a{
    padding: 18px;

}
.content{


    margin-top: 20px;
    margin-bottom: 20px;
}

#tbl {

    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}



#tbl th {
    font-family: "Khmer OS Muol";
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#00ccff;
    color: white;
    font-size: 20px;
}

.btnact{
    text-decoration: none;
    font-size: 25px;
}
.btnact:hover{
    text-decoration: none;
    opacity: 0.5;
}
.view{
    color: green;
}
.update{
    color: deepskyblue;
}
.delete{
    color: red;
}

.fun{
    text-align: center;
}
.btnadd{
    text-decoration: none;
    background-color: #00ccff;
    color: white;
    padding: 3px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;


}

.btnadd:hover{
    color: blue;
    text-decoration: none;
    background-color: white;
    border: 2px solid blue;
}
form label{
    font-family: 'Khmer OS Muol';
}

footer{
    width: 1700px;
    background-color:  #00ccff;

    margin: auto;


}
.footer-container{

    width: 1200px;
    margin: auto;

}




.footer-copy-redes{
    width: 100%;
    margin-top: -10px;


}
.main-copy-redes{
    width: 98%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;


}

.footer-copy p {
    font-size: 20px;
    vertical-align: middle;
}
.footer-icon{
    color: white;
    padding: 20px;
    margin: auto;
}

.footer-copy{
    color: black;
    margin: auto;

    font-weight: bold;

}
.footer-icon ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;

}
.footer-icon ul li{
    float: left;

}
.footer-icon ul li a{
    display: block;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
    color: white;

}
.footer-icon ul li a:hover{
    color: #00ccff;

}
.a_demo_four {
    background-color:#4b3f39;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
    padding-right:50px;
    background-image: linear-gradient(bottom, rgb(62,51,46) 0%, rgb(101,86,78) 100%);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #322620, 0px 10px 5px #999;
}

.a_demo_four:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(62,51,46) 100%, rgb(101,86,78) 0%);
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}

.a_demo_four::before {
    background-color:#322620;

    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    border-radius: 50%;
    box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

.a_demo_four:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}


.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 30px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}
.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;

}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
.push_button {
    position: relative;
    width:220px;
    height:80px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    font-family:'Khmer OS Muol Light';
    display: block;
    margin-top: 20px;
    font-weight: bold;
    margin: auto;
}


.push_button:before {
    background:#f0f0f0;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

    position: absolute;
    content: "";
    left: -6px; right: -6px;
    top: -6px; bottom: -10px;
    z-index: -1;
}

.push_button:active {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
}
.push_button:active:before{
    top: -11px;
    bottom: -5px;
    content: "";
}


.blue {
    text-shadow:-1px -1px 0 #2C7982;
    background: #3EACBA;
    border:1px solid #379AA4;
    background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:linear-gradient(top, #48C6D4, #3EACBA);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
    background: #48C6D4;
    background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:linear-gradient(top, #3EACBA, #48C6D4);
}
