<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<title th:text="${formAdd}?'Add New Article':'Update Article'">Add Article Management System</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
	<link rel="stylesheet" href="/CSS/style.css" />

</head>
<body>

<div th:replace="fragments/header::header"></div>
<div class="container">
	<div class="col-12 ">

		<div class="frm">

			<h1 th:text="#{article}" style="font-family: 'Khmer OS Muol';font-size: 30px;">Article </h1>
			<h3>
				<a href="/article" class="action-button shadow animate blue" style="text-decoration: none;font-family: 'Khmer OS Muol';" th:text="#{homepage}">Back to Home</a>
			</h3><br/><br/><br/><br/><br/>

			<form  th:action="${formAdd}?'/addarticle':'/update'" method="post" enctype="multipart/form-data">

				<!--<label th:text="#{id}">ID  </label> <span style="color: red; font-weight: bold" th:if="${#fields.hasErrors('article.id')}">ID Can not be Null...</span>-->
				<input type="hidden" th:field="${article.id}" placeholder="Your Id" />

				<label th:text="#{name}">Name  </label> <span style="color: red; font-weight: bold" th:if="${#fields.hasErrors('article.name')}">Name Can not be Empty...</span>
				<input type="text" th:field="${article.name}" placeholder="Your Name" />

				<label th:text="#{cate}">Category  </label>
                <select th:field="${article.category.id}">
                    <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>

				<label th:text="#{des}">​Description</label> <span style="color: red; font-weight: bold" th:if="${#fields.hasErrors('article.description')}">Description must be more than 10...</span>
				<textarea th:field="${article.description}"  placeholder="Type your Description"></textarea>

				<label th:text="#{author}">Author  </label> <span style="color: red; font-weight: bold" th:if="${#fields.hasErrors('article.author')}">Author Can not be Blank...</span>
				<input type="text" th:field="${article.author}"  placeholder="Your Author" />

				<label for="file" th:text="#{thumnail}">Thumbnail:</label>

				<input type="file" name="image"  id="file" accept="image/*"  />


				<input type="submit" th:value="${formAdd}?#{save}:#{update}" value="Submit" id="btnsubmit" style="margin-top: 20px;font-family: 'Khmer OS Muol';" />

			</form>

		</div>

	</div>

</div>

<div th:replace="fragments/footer::footer"></div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>