<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<title >Add Category to Article Management System</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
	<link rel="stylesheet" href="/CSS/style.css" />
	<style>
		#tbl tr:nth-child(odd){background-color: wheat;}
		#tbl th{
			background-color:  #00ccff;
		}
	</style>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container" >


	<div class="row justify-content-center" style="margin-top: 20px;" >


		<div class="col-6 col-md-12">
			<h1 style="margin: auto;font-family: 'Khmer OS Muol'" th:text="#{catedetail}">Category Detail</h1>
		</div>

		<div class="col-6 col-md-6 l" >
			<table id="tbl" >
				<tr>
					<th th:text="#{id}">ID</th>
					<th th:text="#{name}">Name</th>
					<th th:text="#{act}">Action</th>
				</tr>
				<tr th:each="cate : ${categories}" th:object="${cate}">

					<td th:text="*{id}" ></td>
					<td th:text="*{name}"></td>
					<td>
						<a th:href="@{/deletecate/{id}(id=*{id})}" class=" btnact fas fa-trash-alt delete"></a>&nbsp;&nbsp;&nbsp;
					</td>
				</tr>

			</table>

			<h3>
				<a href="/article" class="action-button shadow animate blue" style="text-decoration: none;font-family: 'Khmer OS Muol';" >Back to Home</a>
			</h3>
		</div>
		<div class="col-6 col-md-6 ">
			<div class="frm" style="width: 450px;margin: auto;margin-top: 20px;">

				<h1  style="font-family: 'Khmer OS Muol';font-size: 36px; background-color:  #00ccff;" th:text="#{cate}">Category </h1>


				<form  action="/addcate" method="post" >

					<!--<label th:text="#{id}">ID  </label> <span style="color: red; font-weight: bold" th:if="${#fields.hasErrors('article.id')}">ID Can not be Null...</span>-->
					<input type="hidden" th:field="${category.id}" placeholder="Your Id" />

					<label >Name  </label>
					<input type="text" th:field="${category.name}" placeholder="Your Name" />

					<input type="submit" value="Add Category" id="btnsubmit"​​​ th:value="#{insertcate}" style="margin-top: 20px;background-color:  #00ccff;font-family: 'Khmer OS Muol';" />

				</form>

			</div>
		</div>
	</div>






</div>

<div th:replace="fragments/footer::footer"></div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>