<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Article Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<link rel="stylesheet" href="/CSS/style.css" />
	<style>

		select#soflow {
			-webkit-appearance: button;
			-webkit-border-radius: 2px;
			-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
			-webkit-padding-end: 20px;
			-webkit-padding-start: 2px;
			-webkit-user-select: none;
			background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
			background-position: 97% center;
			background-repeat: no-repeat;
			border: 1px solid #AAA;
			color: #555;
			font-size: inherit;
			overflow: hidden;
			padding: 5px 10px;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 50%;
			height: 50px;
			margin-bottom: 0px;
			margin-top: 10px;
			font-size: 24px;
		}


	</style>
</head>
<body>


<div th:replace="fragments/header::header"></div>


<div class="con"  style="background-color: white;">


	<div class="content" style="background-color: white;width: 1200px;margin: auto;">
		
		

    <h2 >
    	<a  class="action-button shadow animate blue" href="/addarticle" style="text-decoration: none;font-family: 'Khmer OS Muol';">
			<i class="fas fa-plus-square"  >&nbsp;&nbsp;</i><span style="font-family: 'Khmer OS Muol'" th:text="#{inter}"> &nbsp;  Insert</span>
        </a>
	</h2><br/><br/><br/>

		<form action="/article" method="get" style="width: 100%;padding: 10px;">
		<select id="soflow" style="width: 80%;">
			<option> Filter</option>
			<option> 1</option>
			<option> 2</option>
		</select>
			<input type="submit" value="Search" style="margin-left:40px;width: 15%;height: 40px;" >
		</form>
		<table id="tbl" style="margin-top: 20px;">
        <tr>

			<th th:text="#{id}" style="font-size: 24px;">ID</th>
			<th th:text="#{name}" style="font-size: 24px;">Name</th>
			<th th:text="#{cate}" style="font-size: 24px;">Category</th>
			<th th:text="#{des}" style="font-size: 24px;">Description</th>
			<th th:text="#{author}" style="font-size: 24px;">Author</th>
			<th th:text="#{thumnail}" style="font-size: 24px;">Thumnail</th>
			<th th:text="#{date}" style="font-size: 24px;">Date</th>
			<th th:text="#{act}" style="font-size: 24px;">Action</th>

        </tr>
        <tr th:each="article : ${articles}" th:object="${article}" >

            <td th:text="*{id}" ></td>
            <td th:text="*{name}"></td>
			<td th:text="*{category.name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{author}"></td>
            <td style="text-align: center"><img width="50px" height="50px" th:src="*{thumnail}"/></td>
            <td th:text="*{createdDate}"></td>
            <td class="fun">
                <a th:href="@{/article/{id}(id=*{id})}" class=" btnact fas fa-eye view"></a>&nbsp;&nbsp;&nbsp;
                <a th:href="@{/update/{id}(id=*{id})}" class=" btnact fas fa-edit update"></a>&nbsp;&nbsp;&nbsp;
                <a th:href="@{/delete/{id}(id=*{id})}" class=" btnact fas fa-trash-alt delete"></a>&nbsp;&nbsp;&nbsp;
            </td>



        </tr>
    </table>

	</div>
</div>

<div th:replace="fragments/footer::footer"></div>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>