<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Article Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<link rel="stylesheet" href="/CSS/style.css" />

</head>
<body>


<div th:replace="fragments/header::header"></div>


<div class="container con" style="width: 1200px;">

	<div class="row justify-content-center" th:object="${article}" style="background-color: #00ccff;padding: 40px;">
		<div class="col-6 col-md-6 l" style="background-color: #00ccff;">
			<h2 style="color: black;" th:text="#{articledetail}">Article Management Dedail</h2>
			<img th:src="*{thumnail}">

		</div>
		<div class="col-6 col-md-6 ">
			<h2><span style="" th:text="#{name}"></span>: <span th:text="*{name}"></span></h2><br/>

			<h4><span th:text="#{cate}">Category</span>:  <span th:text="*{category.name}"></span><br/><br/><br/>

				<span th:text="#{des}"> Description</span>: <span th:text="*{description}"></span><br/><br/><br/>

				<span th:text="#{author}">Author</span>: <span th:text="*{author}"></span><br/><br/><br/>

				<span th:text="#{date}">Date</span>: <span th:text="*{createdDate}"></span><br/><br/>


			</h4>
			<h2><span style="" th:text="#{name}"></span>: <span th:text="*{name}"></span></h2><br/>
		</div>
	</div>

</div>


<div th:replace="fragments/footer::footer"></div>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>